<div>
  <div style="text-align: center">
    <h1>Welcome to {{ title }}!</h1>
  </div>

  <h2>User</h2>
  <p>{{ claims | json }}</p>

  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="logout()"
  >
    Logout
  </button>

  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="refresh()"
  >
    Refresh
  </button>

  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    (click)="get()"
  >
    Get
  </button>
</div>
