@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@if (Model.LogoutVm != null)
{
    <div class="row">
        <div class="col-sm-6">
            <p>Would you like to logout of IdentityServer?</p>
            <form method="post">
                <input type="hidden" asp-for="LogoutVm.LogoutId" />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">Yes</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}
@if (Model.LoggedOutVm != null)
{
    <p>You are now logged out</p>
    @if (Model.LoggedOutVm.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a class="PostLogoutRedirectUri" href="@Model.LoggedOutVm.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.LoggedOutVm.ClientName</span> application.
        </div>
    }

    @if (Model.LoggedOutVm.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.LoggedOutVm.SignOutIframeUrl"></iframe>
    }
}

@section Scripts
{
    @if (Model.LoggedOutVm != null && Model.LoggedOutVm.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
