@inject NavigationManager Navigation

<div class="justify-content-end">
    @if (true)
    {
        <EditForm Model="this" FormName="checkout" OnSubmit="HandleCheckout" data-enhance>
            <button type="submit" class="align-content-end cart-button">
                <span class="fa-stack fa-lg cart-stack pa-4">
                    <i class="fa fa-shopping-cart fa-stack-4x"></i>
                    <i class="fa fa-stack-1x badge">
                       10
                    </i>
                </span>
            </button>
        </EditForm>
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
    }

    private async Task HandleCheckout()
    {
        // Preserve query string
        Navigation.NavigateTo($"/{new Uri(Navigation.Uri).Query}");
    }
}
