@using System.Globalization
@using MicroCommerce.ApiService.Features.Products

<div class="card mb-4 h-100">
    <img src="images/@Product.ImageUrl" class="card-img-top" alt="@Product.Name">
    <div class="card-body">
        <h5 class="card-title">@Product.Name</h5>
        <p class="card-text">$@Product.Price.ToString("C", new CultureInfo("en-US"))</p>
        <button class="btn btn-primary" @onclick="() => AddToCart(Product)">
            <i class="fas fa-cart-plus"></i> Add to Cart
        </button>
    </div>
</div>

@code {
    [Parameter] public required GetProductsFromElasticsearch.ProductViewModel Product { get; set; }
    [Parameter] public required Func<GetProductsFromElasticsearch.ProductViewModel, Task> AddToCart { get; set; }
}
