<Project>
  <PropertyGroup>
    <!-- <EnableSdkContainerSupport>true</EnableSdkContainerSupport> -->
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerRuntimeIdentifiers>linux-x64;linux-arm64</ContainerRuntimeIdentifiers>
    <ContainerImageTags>1.0.0;latest</ContainerImageTags>
    <ContainerRepository>ghcr.io/baotoq/micro-commerce-cart-service</ContainerRepository>
  </PropertyGroup>
  <ItemGroup>
    <ContainerPort Include="80" Type="tcp" />
  </ItemGroup>
</Project>
