@page "/cart"
@using MicroCommerce.ApiService.Features.Carts
@using MicroCommerce.ApiService.Features.Products
@inject CartApiClient CartApiClient

<h1 class="text-center my-4">Shopping Cart</h1>
<div class="container">
    <ul class="list-group">
        @if (_cart is null)
        {
            <p>Loading cart…</p>
        }
        else if (_cart.CartItems.Count > 0)
        {
            @foreach (var item in _cart.CartItems)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @item.Name
                    <span class="badge bg-primary rounded-pill">$@item.Price</span>
                </li>
            }
        }
        else
        {
            <p>Your cart is empty.</p>
        }
    </ul>
</div>

@code {

    GetCart.Response? _cart;

    protected override async Task OnInitializedAsync()
    {
        _cart = await CartApiClient.GetCartById(Guid.NewGuid());
    }
}
