@page "/"
@using System.Globalization
@inject ProductApiClient ProductApiClient

<PageTitle>Home</PageTitle>

<div class="container">
    <h1 class="text-center my-4">Product List</h1>

    @if (_products is null)
    {
        <p>Loading product catalog…</p>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var product in _products)
            {
                <div class="col-md-4">
                    <ProductCard Product="product" AddToCart="p => { }"></ProductCard>
                </div>

            }
        </div>
    }
</div>

@code {

    GetProductsResponse.Product[]? _products;

    protected override async Task OnInitializedAsync()
    {
        _products = await ProductApiClient.GetProductsAsync();
    }
}
