<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/bao2703/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="bao2703" />
      <add key="ClearTextPassword" value="TOKEN" />
    </github>
  </packageSourceCredentials>
</configuration>
