name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Restore with dotnet
      run: dotnet restore ./BShop.sln
    - name: Build with dotnet
      run: dotnet build ./BShop.sln --no-restore --configuration Release
    - name: Test with dotnet
      run: dotnet test ./BShop.sln --no-build --configuration Release
