# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET Tests

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: ["master"]
    paths:
      - "src/**"
      - ".github/**"

defaults:
  run:
    working-directory: ./src

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Setup Aspire
        run: |
          dotnet workload update
          dotnet workload install aspire

      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Run Test
        run: dotnet test --no-build --verbosity normal
